.product-header{
    height: 351px;
    text-align: center;
    gap: 72px;
    flex-shrink: 0; 
    background: linear-gradient(0deg, #DFE3E6 0%, #DFE3E6 50%, #DFE3E6 100%);
}


.product-heading{
    color: #000;
    font-family: "Roboto Slab";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5rem;
}


@media (max-width : 850px) {
    .product-heading{
        font-size: 36px;
    }
}

@media (max-width: 500px) {
    .product-heading{
        font-size: 24px;
    }
}